<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ZuluDataContext" connectionString="metadata=res://*/Data.ZuluDataModel.csdl|res://*/Data.ZuluDataModel.ssdl|res://*/Data.ZuluDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ZULUALPHA-PC\SQLSERVER2008;Initial Catalog=PortablePOSTesting;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Zulu.BusinessService.Properties.Settings.PortablePOSTestingConnectionString"
      connectionString="Data Source=ZULUALPHA-PC\SQLSERVER2008;Initial Catalog=PortablePOSTesting;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>